html
  head
    title= name
    style
      include style.css
  body
    include ./header.pug 
    if(user)
      h1 Hi, #{user.name}
    else
      container
        a.button-sign(href="/auth/google") Sign in
        a.button-cont(href= page) Continue
    include ./footer.pug 